.left-panel
  .glyphicon.logo-icon
  .title=acc(locals.data.title)
  .description=locals.data.description
    br
    br
    .btn.btn-primary.btn-lg=acc(locals.data['start-button-label'])
.right-panel
  .description=locals.data.description
    br
    br
    .btn.btn-primary.btn-lg=acc(locals.data['start-button-label'])
