header

    .col-md-12
      .score
        span.score-name #{acc(locals.data["score-label"])}&nbsp;&nbsp;
        span.score-value 0 / #{locals.data.questions.length*5}
.container.quiz-container
  each question,index in locals.data.questions
    .question-container(class=index==0?"active":"")
      .left-panel
        h4.question-heading
          span.question-name #{acc(locals.data["question-label"])}&nbsp;
          span.question-value ( #{index+1} / #{locals.data.questions.length} )
        .question=question.question
        ul.answers
          each answer,index in question.answers
            li
              - var isCorrect = answer["is-correct"]?"true":"false"
              if answer.img
                - var img=answer.img?IMAGE_PATH+answer.img:"";
                a.btn(data-description=answer.description data-is-correct=isCorrect data-content="<img alt=\"#{img}\" src=\"#{img}\">" style="background-image: url('#{img}')")=letters[index].toUpperCase()+". "+answer.label
              else
                a.btn(data-description=answer.description data-is-correct=isCorrect href="javascript:")=letters[index].toUpperCase()+". "+answer.label
      .right-panel
        .image-container
          img(src=IMAGE_PATH+question.image alt=IMAGE_PATH+question.image width="560" height="555")
.current-score.hidden +3
